{% extends 'base.html' %}
{% load static %}

{% block title %}
    Profile Page
  {% endblock %}
{% block content %}

<h1>User Profile</h1>


<br/><br/>
<div class="card mb-3" >
  <div class="row g-0">
    <div class="col-md-2">
        {% if post.author.profile_pic%}
         <img src="{{post.author.profile.profile_pic.url}}" class="img-fluid rounded-start" >
        {% else %}
        <img src="{%static 'theblog/images/default.jpg' %}" class="img-fluid rounded-start">

        {% endif %}
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">
             </a></h5>
          <p class ="small text-muted">
              {{page_user}} </a>
          </p>
          <p class ="small text-muted">
              <a href="{{post.author.profile.facebook_url}}"> Facebook </a>
          </p>
        <p class="card-text">{{page_user.bio}}</p>

      </div>
    </div>
  </div>
</div>

{% endblock %}
