{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{post.title_tag}}
  {% endblock %}

{% block content %}


    <h1>{{post.title}}</h1>
    <small> By: {{post.author}} {{post.post_date}} -- {{post.status}}</small>
    {% if user.is_authenticated%}
        {% if user.id == post.author.id %}
            <a href ="{% url 'update_post' post.pk %}"> (Edit) </a>  <br/>
            <a href ="{% url 'delete_post' post.pk %}"> <small>(Delete)</small> </a><br/>
        {% endif %}
    {% else %}
    <br/>
    {% endif %}

    <hr>
    <br/>
    {{post.body|safe}}

    {% if  post.header_image %}

      <img src=" {{post.header_image.url}}">
    {% endif %}
    <br/>

    {% if user.is_authenticated%}
        <form action ="{% url 'like_post' post.pk %}" method="POST">
            {% csrf_token %}
            {% if liked%}
                <button type="submit" , name = 'post_id' , value="{{ post.id }}", class ="btn btn-danger"> UnLike </button>
            {% else %}

                <button type="submit" , name = 'post_id' , value="{{ post.id }}", class ="btn btn-primary"> Like </button>

            {% endif %}
            {{total_likes}} Likes
        </form>
    {% else %}
    <small>  <a href="{% url 'login'%}"> Login</a> to like </small> -------- <small> number of likes {{total_likes}}  </small>
    {% endif %}
<h2>Comments...</h2>
{% if not post.comments.all %}
    No Comments Yet <a href="{% url 'add_comment' post.pk %}" >Add Comment</a>
{% else %}
  <a href="{% url 'add_comment' post.pk %}" >Add Comment</a>
  <br/><br/>
    {% for comment in post.comments.all %}
    <strong>{{comment.name}} - {{comment.date_added}}</strong>
    <br>
    {{comment.body}}
    <br>
    {% endfor %}
  
{% endif %}

<br/><br/>
<div class="card mb-3" >
  <div class="row g-0">
    <div class="col-md-2">
        {% if post.author.profile.profile_pic %}
          <img src="{{ post.author.profile.profile_pic.url }}" class="img-fluid rounded-start" >
        {% else %}
          <img src="{% static 'theblog/images/default.jpg' %}" class="img-fluid rounded-start">

        {% endif %}
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">
            <a href="{% url 'show_profile_page' post.author.profile.id %}">{{post.author}} </a></h5>
          <p class ="small text-muted">
              <a href="{{post.author.profile.facebook_url}}"> Facebook </a>
          </p>
        <p class="card-text">{{post.author.profile.bio}}</p>

      </div>
    </div>
  </div>
</div>

{% endblock %}