{% extends 'base.html' %}

{% block title %}
    {{post.title_tag}}
  {% endblock %}

{% block content %}


    <h1>{{post.title}}</h1>
    <small> By: {{post.author}} {{post.post_date}}</small>
    {% if user.is_authenticated%}
        {% if user.id == post.author.id %}
            <a href ="{% url 'update_post' post.pk %}"> (Edit) </a>  <br/>
            <a href ="{% url 'delete_post' post.pk %}"> <small>(Delete)</small> </a><br/>
        {% endif %}
    {% else %}
    <br/>
    {% endif %}

    <hr>
    <br/>
    {{post.body|safe}}

    <br/><br/>
    <a href="{% url 'home'%}" class="btn btn-secondary">Back</a>
    <br/><br/>
    {% if user.is_authenticated%}
        <form action ="{% url 'like_post' post.pk %}" method="POST">
            {% csrf_token %}
            {% if liked%}
                <button type="submit" , name = 'post_id' , value="{{ post.id }}", class ="btn btn-danger"> UnLike </button>
            {% else %}

                <button type="submit" , name = 'post_id' , value="{{ post.id }}", class ="btn btn-primary"> Like </button>

            {% endif %}
            {{total_likes}} Likes
        </form>
    {% else %}
    <small>  <a href="{% url 'login'%}"> Login</a> to like </small> -------- <small> number of likes {{total_likes}}  </small>
    {% endif %}
{% endblock %}